// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './m3-theme' as custom;
// Plus imports for other components in your app.

body {
  --mdc-filled-button-container-color: #39b44d;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: custom.$green-palettte,
      tertiary: custom.$purple-palettte,
      // primary: mat.$green-palette,
      // tertiary: mat.$spring-green-palette,,,,
    ),
    density: (
      scale: 0,
    ),
  )
);
