# Add files here to ignore them from prettier formatting
/tmp
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular
/diagrams
/assets/seeds
pnpm-lock.yaml

packages/shared/ui-global/forms/src/lib/components
packages/shared/ui-global/layout/src/lib/drawer/navigation/nav-link.ts
