import { createUseCaseProvider } from '@devmx/shared-util-data/client';
import { <%= className %>, UseCase } from '@devmx/shared-api-interfaces';
import { <%= className %>Service } from '../services';

export class Delete<%= className %>UseCase implements UseCase<string, <%= className %> | null> {
  constructor(private <%= propertyName %>Service: <%= className %>Service) {}

  execute(id: string) {
    return this.<%= propertyName %>Service.delete(id);
  }
}

export function provideDelete<%= className %>UseCase() {
  return createUseCaseProvider(Delete<%= className %>UseCase, [<%= className %>Service]);
}
