import { Params } from '@devmx/shared-api-interfaces';
import { <%= className %>Facade } from '../application';
import { filter } from 'rxjs';

export const <%= propertyName %>ResolverWrapped = (facade: <%= className %>Facade, params: Params) => {
  facade.loadOne(params['id']);
  return facade.selected$.pipe(filter((<%= propertyName %>) => !!<%= propertyName %>));
};
