import { EntityService } from '@devmx/shared-api-interfaces/server';
import { <%= className %> } from '@devmx/shared-api-interfaces';

export abstract class <%= classNamePlural %>Service extends EntityService<<%= className %>> {}
