import { <%= className %> } from '@devmx/shared-api-interfaces';
import { createSchema } from '@devmx/shared-data-source';
import { Prop, Schema } from '@nestjs/mongoose';
import mongoose, { Document } from 'mongoose';

@Schema()
export class <%= className %>Collection extends Document implements <%= className %> {
  override id: string;

  @Prop({ required: true, type: String })
  name: string;
}

export const <%= className %>Schema = createSchema(<%= className %>Collection);
