import { createUseCaseProvider } from '@devmx/shared-util-data/server';
import { UseCase, <%= className %>, Editable<%= className %> } from '@devmx/shared-api-interfaces';
import { <%= classNamePlural %>Service } from '../services';

export class Update<%= className %>UseCase implements UseCase<Editable<%= className %>, <%= className %>> {
  constructor(private <%= propertyNamePlural %>Service: <%= classNamePlural %>Service) {}

  async execute(data: Editable<%= className %>) {
    return this.<%= propertyNamePlural %>Service.update(data.id, data);
  }
}

export function provideUpdate<%= className %>UseCase() {
  return createUseCaseProvider(Update<%= className %>UseCase, [<%= classNamePlural %>Service])
}
