@use 'sass:map' as map;

$fonts: (
  'mukta': (
    'font-family': 'Mukta',
    'weights': (
      'extralight': 200,
      'light': 300,
      'regular': 400,
      'medium': 500,
      'semibold': 600,
      'bold': 700,
      'extrabold': 800,
    ),
  ),
  'source-sans': (
    'font-family': 'Source Sans 3',
    'weights': (
      'extralight': 200,
      'light': 300,
      'regular': 400,
      'medium': 500,
      'semibold': 600,
      'bold': 700,
      'extrabold': 800,
    ),
  ),
);

@mixin use($name: 'mukta', $weight: 'regular') {
  $font: map.get($fonts, $name);
  $font-weight: map.get($font, 'weights', $weight);
  $font-family: map.get($font, 'font-family');

  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
}

@function family($name) {
  @return map.get($fonts, $name, 'font-family');
}

@function weight($name, $weight) {
  @return map.get($fonts, $name, 'weights', $weight);
}
