import { MongoService, createServiceProvider } from '@devmx/shared-data-source';
import { <%= className %>sService } from '@devmx/<%= scope %>-domain/server';
import { <%= className %>Collection } from '../schemas';
import { getModelToken } from '@nestjs/mongoose';

export class <%= className %>sMongoServiceImpl
  extends MongoService<<%= className %>Collection>
  implements <%= className %>sService
{ }

export function provide<%= className %>sMongoService() {
  return createServiceProvider(<%= className %>sService, <%= className %>sMongoServiceImpl, [
    getModelToken(<%= className %>Collection.name),
  ]);
}
