import { <%= className %>, UseCase } from '@devmx/shared-api-interfaces';
import { <%= className %>sService } from '../services';

export class Delete<%= className %>UseCase implements UseCase<string, <%= className %>> {
  constructor(private <%= propertyName %>sService: <%= className %>sService) {}

  async execute(id: string) {
    return this.<%= propertyName %>sService.delete(id);
  }
}
