import { <%= className %>, UseCase } from '@devmx/shared-api-interfaces';
import { <%= classNamePlural %>Service } from '../services';

export class Delete<%= className %>UseCase implements UseCase<string, <%= className %>> {
  constructor(private <%= propertyNamePlural %>Service: <%= classNamePlural %>Service) {}

  async execute(id: string) {
    return this.<%= propertyNamePlural %>Service.delete(id);
  }
}
