import { <%= className %>sService } from '../services';
import {
  Page,
  UseCase,
  <%= className %>,
  QueryParams,
} from '@devmx/shared-api-interfaces';

export class Find<%= className %>sUseCase
  implements UseCase<QueryParams<<%= className %>>, Page<<%= className %>>>
{
  constructor(private <%= propertyName %>sService: <%= className %>sService) {}

  async execute(params: QueryParams<<%= className %>>) {
    return this.<%= propertyName %>sService.find(params);
  }
}
